{% extends 'seller/register_base.html' %}

{% block title %}
    卖家注册
{% endblock %}


{% block style %}
    <style>
        #d1{
            font-size: 24px;
        }
    </style>
{% endblock %}


{% block label %}
    注册
{% endblock %}


{% block content %}
    <div id="d1">
        <form action="" method="post">
            {% csrf_token %}
            <label for="" class="btn-block">
                <input type="email" name="email" placeholder="请输入注册邮箱" class="btn-block">
            </label>
            <label for="" class="btn-block">
                <input type="text" name="username" placeholder="请输入用户昵称" class="btn-block">
            </label>
            <label for="" class="btn-block">
                <input type="password" name="password01" placeholder="请设置用户密码" class="btn-block">
            </label>
            <label for="" class="btn-block">
                <input type="password" name="password02" placeholder="请确认用户密码" class="btn-block">
            </label>
            <label for="" class="btn-block">
                <input type="reset" value="重置信息" class="btn-warning">
                <input type="submit" value="提交注册" class="btn-primary" style="float: right">
            </label>
        </form>
        {{ error_message }}
        <hr>
        <div class="text-center">
            <a class="small" href="/Seller/fp/">忘记密码?</a>
        </div>
        <div class="text-center">
            <a class="small" href="/Seller/login/">已有账户? 登录!</a>
        </div>
    </div>
{% endblock %}


{% block script %}

{% endblock %}