{% extends 'buyer/register_base.html' %}


{% block title %}

{% endblock %}


{% block style %}

{% endblock %}


{% block label01 %}
    <a href="/Buyer/register/" style="float: left">注册</a>
{% endblock %}


{% block label02 %}
    <a href="/Buyer/login/">登录</a>
{% endblock %}


{% block content %}
    <div class="p-5" style="font-size: 18px">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">忘记密码？</h1>
            <br>
            <p class="mb-4">我们明白了，事情发生了。只要在下面输入您的电子邮件地址，我们就会向您发送一个链接以重置密码！</p>
        </div>
        <br>
        <form class="user">
            <div class="form-group">
                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                       aria-describedby="emailHelp" placeholder="输入电子邮件地址..." style="font-size: 20px">
            </div>
            <br>
            <a href="/Buyer/login/" class="btn btn-primary btn-user btn-block">
                重置密码
            </a>
        </form>
        <br>
        <hr>
        <br>
        <div class="text-center">
            <a class="small" href="/Buyer/register/">创建一个账户！</a>
            <a class="small" href="/Buyer/login/" style="float: right">已经有帐号了？登录！</a>
        </div>
        <div class="text-center">

        </div>
    </div>
{% endblock %}


{% block script %}

{% endblock %}