<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block title %}title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/buyer/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/buyer/css/main.css">
    <script type="text/javascript" src="/static/buyer/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/buyer/js/register.js"></script>
    {% block style %}{% endblock %}
</head>
<body>
<div class="register_con">
    <div class="l_con fl">
        <a class="reg_logo"><img src="/static/buyer/images/logo02.png"></a>
        <div class="reg_slogan">足不出户 · 新鲜每一天</div>
        <div class="reg_banner"></div>
    </div>

    <div class="r_con fr">
        <div class="reg_title clearfix">
            <h1>{% block label01 %}label01{% endblock %}</h1>
            <a href="#">{% block label02 %}label02{% endblock %}</a>
        </div>
        <div class="reg_form clearfix">
            {% block content %}Form表单{% endblock %}
        </div>

    </div>

</div>

<div class="footer no-mp">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>
{% block script %}{% endblock %}
</body>
</html>